@font-face {
  font-family: "Encode-sans-bold";
  src: url("/DMSans_opsz_wght__1-english.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Encode-sans-regular";
  src: url("/EncodeSansSemiCondensed-Regular_1-english.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
:global(html) {
  scroll-behavior: smooth;
}
body {
  font-family: "Encode-sans-regular", "Encode-sans-bold", Roboto, sans-serif;
}

body {
  background-color: #000;
  color: white;
  margin: 0;
}
h1,
h2,
h3 {
  font-family: "Encode-sans-bold", Roboto, sans-serif;
}
@media (min-width: 750px) {
  h1 {
    font-size: 120px;
    line-height: 113px;
  }
  h2 {
    font-size: 62px;
    line-height: 50px;
  }
  h3 {
    font-size: 42px;
    line-height: 30px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2.2rem !important;
  }
  h2 {
    font-size: 2remrem !important;
  }
}
